<!--
  Generated template for the InfoSearch page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>信息查询</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div [ngSwitch]="operationName">

    <template [ngSwitchCase]="'loadSchoolRollsLimited'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item><ion-label text-center>设置参数</ion-label></ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置显示行数</ion-label>
              <ion-select [(ngModel)]="limitedCount">
                <ion-option value=10 selected="true">10</ion-option>
                <ion-option value=50>50</ion-option>
                <ion-option value=100>100</ion-option>
                <ion-option value=100>300</ion-option>
                <ion-option value=100>500</ion-option>
                <ion-option value=100>1000</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-12><button ion-button block color="secondary" (click)="loadSchoolRollsLimited(limitedCount)">查询</button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list>
        <button ion-button class="action-button" block *ngFor="let item of listData" (click)="itemSelected(item, 'loadSchoolRollsLimited')">
          {{ item.name }}
        </button>
      </ion-list>
    </template>

    <template [ngSwitchCase]="'loadPersonsOfStartYearAndSubject'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item><ion-label text-center>设置参数</ion-label></ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置数据源</ion-label>
              <ion-input type="text" [(ngModel)]="personsOfStartYearAndSubjectData.ds" required></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置年份</ion-label>
              <ion-datetime displayFormat="YYYY" [(ngModel)]="personsOfStartYearAndSubjectData.year">{{personsOfStartYearAndSubjectData.year}}</ion-datetime>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置显示行数</ion-label>
              <ion-select [(ngModel)]="personsOfStartYearAndSubjectData.rows">
                <ion-option value=10 selected="true">10</ion-option>
                <ion-option value=50>50</ion-option>
                <ion-option value=100>100</ion-option>
                <ion-option value=100>300</ion-option>
                <ion-option value=100>500</ion-option>
                <ion-option value=100>1000</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-12><button ion-button block color="secondary" (click)="loadPersonsOfStartYearAndSubject(personsOfStartYearAndSubjectData.ds, personsOfStartYearAndSubjectData.year, personsOfStartYearAndSubjectData.rows)">查询</button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list>
        <button ion-button class="action-button" block *ngFor="let item of listData" (click)="itemSelected(item, 'loadPersonsOfStartYearAndSubject')">
          {{ item.subject }}
        </button>
      </ion-list>
    </template>

    <template [ngSwitchCase]="'loadPersonsOfSubject'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item><ion-label text-center>设置参数</ion-label></ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置数据源</ion-label>
              <ion-input type="text" [(ngModel)]="personsOfSubject.ds" required></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置显示行数</ion-label>
              <ion-select [(ngModel)]="personsOfSubject.rows">
                <ion-option value=10 selected="true">10</ion-option>
                <ion-option value=50>50</ion-option>
                <ion-option value=100>100</ion-option>
                <ion-option value=100>300</ion-option>
                <ion-option value=100>500</ion-option>
                <ion-option value=100>1000</ion-option>
              </ion-select>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col col-12><button ion-button block color="secondary" (click)="loadPersonsOfSubject(personsOfSubject.ds, personsOfSubject.rows)">查询</button></ion-col>
            </ion-row>
          </ion-grid>
      </ion-card>
      <ion-list>
        <button ion-button class="action-button" block *ngFor="let item of listData" (click)="itemSelected(item, 'loadPersonsOfSubject')">
          {{ item.subject }} - {{ item.numberOfPersons }}
        </button>
      </ion-list>
    </template>

    <template [ngSwitchCase]="'loadSchoolRollsByStudentId'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item><ion-label text-center>设置参数</ion-label></ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating>设置学号</ion-label>
              <ion-input type="text" [(ngModel)]="schoolrollByStudentId" required></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-12><button ion-button block color="secondary" (click)="loadSchoolRollsByStudentId(schoolrollByStudentId)">查询</button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list>
        <button ion-button class="action-button" block *ngFor="let item of listData" (click)="itemSelected(item, 'loadSchoolRollsByStudentId')">
          {{ item.studentid }} - {{ item.name }}
        </button>
      </ion-list>
    </template>

    <template [ngSwitchCase]="'loadSchoolRollsByName'">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-item><ion-label text-center>设置参数</ion-label></ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label floating="">设置姓名</ion-label>
              <ion-input type="text" [(ngModel)]="schoolrollByName" required></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col col-12><button ion-button block color="secondary" (click)="loadSchoolRollsByName(schoolrollByName)">查询</button></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-list>
        <button ion-button class="action-button" block *ngFor="let item of listData" (click)="itemSelected(item, 'loadSchoolRollsByName')">
          {{ item.studentid }} - {{ item.name }}
        </button>
      </ion-list>
    </template>

  </div>

</ion-content>
